[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
awscli = "*"
duckdb = "*"
localstack = "*"
awscli-local = "*"
pandas = "*"
sqlescapy = "*"
lxml = "*"
html5lib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
